{% extends 'base/base.html' %}

{% block title %}update{% endblock %}

{% block content %}

    <div class="form-body">
        <div class="form-container">

            <h1 class="text-font form-title">Edit "{{ todo.description }}"</h1>

            <form class="form-group" method="post" action="{% url 'todo_update' todo.id %}">
                {% csrf_token %}
                <div class="form-control">
                    <label class="text-font" for="title">Task Title</label>
                    <input class="text-font" type="text" value="{{ todo.description }}" id="description" name="description" required class="form-control" placeholder="Enter task title">
                </div>
                <button class="button blue-background text-font" type="submit">Edit Note</button>
            </form>

        </div>
    </div>
    
{% endblock %}